@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Contents/Style.css" rel="stylesheet" />
<div id="main">
    <h2>Этимология</h2>
    <div id="content"> «<span id="FirstSim">В</span>икинг» происходит от древненорвежского «víkingr», которое по наиболее распространённой версии означает «человек из бухты», «человек из порта» (от корня vík — бухта, залив, убежище; + суффикс ingr). Оно также может происходить от названия норвежской области Вик. Отдельные лингвисты[кто?] выводят термин от древненорвежского vike в значении «покидать, удаляться»: так называли людей, покидающих родные края с целью грабежа или торговли.
В русском языке к этому же индоевропейскому корню восходит слово «весь» в значении селения. Славянское слово «витязь», как принято считать, произошло от слова «vikingr», ибо в славянских языках скандинавский суффикс «-ing» регулярно переходил в «-езь» («князь», «колодезь», «пенязь» и т. д.).</div>
    <div id="botton">Designed by Max</div>

</div>
