@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Contents/Style.css" rel="stylesheet" />
<div id="main">
    <h2>Этническая неоднородность</h2>
    <div id="content"><span id="FirstSim">В</span> движении викингов принимали участие не только скандинавские народы Балтики. В отдельных набегах принимали участие и балтийские славяне (венды)[4][5][6], в частности, вагры и руяне прославились своими пиратскими набегами на Скандинавию и Данию. Сохранилась эта информация и в сагах (см.«Сагу о Магнусе Слепом и Харальде Гилли»). В «Саге о Хаконе Добром» написано «Затем Хакон конунг поплыл на восток вдоль берегов Сканей и разорял страну, брал выкупы и подати и убивал викингов, где он их только находил, как датчан, так и вендов.» Один раз описаны эсты как викинги, в саге «Об Олаве сыне Трюгги» говорится «.. Когда они выехали на восток в море, на них напали викинги. Это были эсты ..», однако не совсем понятно были ли это сами эсты или это были скандинавы с территории эстов. Кажется, только балты совсем не участвовали в движении викингов.</div>
    <div id="botton">Designed by Max</div>

</div>
