@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Contents/Style.css" rel="stylesheet" />
<div id="main">

    <div id="content"> <span id="FirstSim">В</span>и́кинги (дат. vikinger, швед. vikingar, норв. vikingene) — раннесредневековые скандинавские мореходы, в VIII—XI веках совершавшие морские походы от Винланда до Биармии и от Каспия до Северной Африки. В основной массе это были свободные крестьяне, жившие на территории современных Швеции, Дании и Норвегии, которых толкали за пределы родных стран перенаселение и жажда лёгкой наживы. По религии — в подавляющем большинстве язычники.
Шведские викинги и викинги с побережья Балтики, как правило, путешествовали на восток и фигурировали в древнерусских и византийских источниках под именем варягов. Норвежские и датские викинги двигались в своём большинстве на запад и известны по латинским источникам под именем норманнов (лат. Normanni). Взгляд на викингов изнутри их общества дают скандинавские саги, однако подходить к этому источнику следует с осторожностью ввиду зачастую поздней даты их составления и записи.
Как правило, в скандинавских хрониках термин «викинг» в его сегодняшнем понимании не использовался, и характеризовал скорее социальное явление, когда безземельные бонды (рядовые общинники) были вынуждены искать лучшей доли за пределами родины.</div>
    <div id="botton">Designed by Max</div>

</div>
